.flex-100-100 {
    display: flex;
    /*한 줄 정렬*/
    /* viewport-width, 화면너비 기준 비율*/
    width: 100vw;
    height: 100vh;
}

.flex {
    display: flex;
}

.left-panel {
    display: flex;
    flex-direction: column;
    flex: 1;

    /* justify-content: space-between; */
    justify-content: center;

    align-items: center;
    padding-left: 30px;
    /* padding-top: px;÷ */
    background-color: #1a1a1a;
}

.right-panel {
    display: flex;
    flex-direction: column;
    flex: 9;
    /* justify-content: center; */
    background-color: #1a1a1a;
}