.flex-100-100 {
    display: flex;
    /*한 줄 정렬*/
    /* viewport-width, 화면너비 기준 비율*/
    width: 100vw;
    height: 100vh;
}

.left-panel-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 2;

    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #1a1a1a;
}

.right-panel-8 {
    display: flex;
    flex-direction: column;
    flex: 8;
    justify-content: center;
    background-color: #1a1a1a;
}