.home-container {
    background-color: #000;
    color: #fff;
    min-height: 100vh;
    padding: 40px 20px;
    font-family: 'Pretendard', sans-serif;
    letter-spacing: 0.05em;


    /* ✨ 추가 */
    max-width: 1500px;
    margin: 0 auto;
}

.home-title {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #ccc;
    text-align: center;
    font-weight: 300;
}