.post-item-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    opacity: 0.9;
    transition: opacity 0.5s;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


.post-item-container.left {
    flex-direction: row;
}

.post-item-container.right {
    flex-direction: row-reverse;
}

.post-item-image {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    margin: 0 12px;
}

.post-item-content {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 12px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #ccc;
    line-height: 1.5;
    font-size: 0.95rem;
    text-align: left;
}

.post-item-author {
    font-size: 0.85rem;
    margin-bottom: 4px;
    color: #888;
}

.post-item-timestamp {
    font-size: 0.75rem;
    margin-bottom: 6px;
    color: #666;
}

.post-item-text {
    margin-bottom: 8px;
    word-break: break-word;
}

.post-item-link a {
    color: #66ccff;
    text-decoration: none;
    font-size: 0.9rem;
}

.post-item-link a:hover {
    text-decoration: underline;
}

.post-item-rating {
    margin-top: 8px;
    color: #dcc47c;
    font-size: 1.2rem;
}

.post-item-link {
    margin-top: 6px;
    font-size: 0.9rem;
}

.post-item-link a {
    color: #ccc;
    /* 🚀 밝은 회색 (고혹적) */
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s;
}

.post-item-link a:hover {
    color: #fff;
    /* 🚀 hover 시 살짝 밝아짐 */
    text-decoration: underline;
}