---
import BaseLayout from '../../layouts/BaseLayout.astro';

export function getStaticPaths() {
  return [];
}

const { tag } = Astro.params;
---

<BaseLayout title={`Tag: ${tag}`}>
  <h1>Tag</h1>
  <p>Tag: {tag}</p>
</BaseLayout>
