---
import '../styles/global.css';
import SiteFooter from '../components/SiteFooter.astro';
import SiteHeader from '../components/SiteHeader.astro';
import SiteNav from '../components/SiteNav.astro';

const { title } = Astro.props;
const pageTitle = title ? `${title} | Gguigit` : 'Gguigit';
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <SiteHeader />
    <SiteNav />
    <main>
      <slot />
    </main>
    <SiteFooter />
  </body>
</html>
